--only-binary :all:
pydantic-core
pydantic
fastapi
uvicorn
sqlalchemy
asyncpg
alembic
pydantic-settings
email-validator
pyjwt
bcrypt
celery
redis
aiosmtplib
boto3
razorpay
httpx
python-dotenv
cloudinary
pillow
psycopg2-binary